@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
	--grey-1: #12181b;
	--grey-2: #2a2e35;
	--grey-3: #454e56;
	--grey-4: #6c7983;
}

* {
	margin: 0;
	padding: 0;
}

@media screen and (max-width: 500px) {
	html {
		font-size: 75%;
	}
}

@media screen and (max-width: 375px) {
	html {
		font-size: 60%;
	}
}

body {
	--background-color: var(--grey-1);
	--color: #fff;

	font-family: 'Open Sans', sans-serif;
	background-color: var(--background-color);
	color: var(--color);
}
